        <div class="col-sm-12 text-left"><h3>Я ищу</h3></div>
          <form class="form-horizontal">
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">ЖБИ (Фундаментальные блоки ФБС, плиты перекрытий ПК, перемычки)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">Кирпич / Газбетон / Брус
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">Бетон / Раствор
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-9 col-xs-offset-2 col-xs-10">
                <select id="region" class="form-control">
                  <option value="one">Новосибирская область</option>
                  <option value="one">Красноярский край</option>
                  <option value="one">Иркутская область</option>
                  <option value="one">Кемеровская область</option>
                  <option value="one">Омская область</option>
                  <option value="one">Алтайский край</option>
                  <option value="one">Томская область</option>
                  <option value="one">Забайкальский край</option>
                  <option value="two">Республика Бурятия</option>
                  <option value="three">Республика Хакасия</option>
                  <option value="four">Республика Тыва</option>
                  <option value="five">Республика Алтай</option>
                </select>
              </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="inputDescription" class="col-sm-2  control-label">Описание</label>
                <div class="col-sm-10  ">
                  <textarea class="form-control" id="inputDescription" rows="3"></textarea>
                  <p class="text-muted">Пример: нужно фбс 24.4.6 50 шт плиты пк 20 ПК 60-20-12 доставка в Новолуговое</p>
                </div>
            </div>

              <div class="form-group col-sm-6">
                <label for="inputTel" class="col-xs-4 col-sm-4 text-right control-label">Телефон</label>
                <div class="col-xs-8 col-sm-8">
                  <input type="tel" class="form-control" id="inputTel">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="inputName" class="col-xs-4 text-right col-sm-2 control-label">Имя</label>
                <div class="col-xs-8 col-sm-8">
                  <input type="text" class="form-control" id="inputName">
                </div>
              </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9 col-xs-offset-2 col-xs-9">
                <button type="submit" class="btn  btn-default btn-md">ОПУБЛИКОВАТЬ ЗАЯВКУ</button>
              </div>
            </div>
          </form>
