<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="media">
      <div class="media-left">
        <a href="company.html">
          <img class="media-object" src="static/img/brand.png" alt="Brand">
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading">ООО СтройМонтажСервис</h3>
        <p><b>Место деятельности: </b>Новосибирск</p>
        <p><b>Продукция: </b>Жби</p>
        <p><b>Адрес: </b>Под часами на том же месте</p>
        <p><b>Телефон: </b>99-33-44</p>
      </div>
    </div>
</div>
