    <div id="supplier-form" class="row">
      <div class="page-header col-lg-10 col-lg-offset-1">
        <h1 class="text-center">Вы поставщик?</h1>
      </div>

      <div class="col-lg-5 col-md-5 col-md-offset-1 col-xs-11 col-xs-offset-1">
            <p>Для доступа к телефонам покупателей заполните форму или позвоните нам <span class="text-nowrap">+7 999 888-77-66</span></p>
            <p>Текст с дополнительной информацией по условиям сотрудничества</p>
            <p>Возможно стоит вынести его на отдельную страницу</p>
            <p>Текст с дополнительной информацией по условиям сотрудничества</p>
            <p>Возможно стоит вынести его на отдельную страницу</p>
      </div>

      <div class="col-lg-5 col-md-5 col-md-offset-1 col-xs-10 col-xs-offset-1">

        <form class="form-horizontal">
        
          <div class="form-group col-sm-12">
            <label for="inputCompany" class="col-sm-4 col-xs-4 control-label">Организация</label>
            <div class="col-sm-8 col-xs-12">
              <input type="text" class="form-control" id="inputCompany">
          </div>
          </div>
          <div class="form-group col-sm-12">
            <label for="InputTel1" class="col-sm-4 col-xs-4 control-label">Телефон</label>
            <div class="col-sm-8 col-xs-12">
            <input type="tel" class="form-control" id="InputTel1">
          </div>
          </div>

          <div class="form-group col-sm-12">
            <label for="InputEmail1" class="col-sm-4 col-xs-4 control-label">Email</label>
            <div class="col-sm-8 col-xs-12">
            <input type="email" class="form-control" id="InputEmail1">
            </div>
          </div>
            <div class="form-group col-sm-12">
              <label for="inputName1" class="col-sm-4 col-xs-4  control-label">Имя</label>
              <div class="col-sm-8 col-xs-12">
                <input type="text" class="form-control" id="inputName1">
              </div>
            </div>
          <div class="form-group  col-sm-12 text-center">
            <div class="col-sm-offset-4 col-sm-6  col-xs-6">
              <button type="submit" class="btn btn-default btn-md">ОТПРАВИТЬ ИНФОРМАЦИЮ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
