{% extends '_base.html' %}

{% block style %}
    <link href="static/css/custom_cabinet.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
      <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
            <img alt="Brand" src="static/img/brand.png">
          </a>
      </div>
      <div class="col-5 col-lg-offset-2 col-md-offset-3">
          <ul class="breadcrumb">
          <li><a href="index.html">Главная</a></li>
          <li class="active">Личный кабинет</li>
          </ul>
      </div>
    </div>


    <div class="row">
        <div class="page-header col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-12">
          <h1 class="text-center">Личный кабинет</h1>
        </div>
        <div id="ordersRef" class="col-xs-4 pull-right">
          <a href="orders.html">Перейти к заявкам</a>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        
        <div class="row">

      <!-- tabs left -->
            <div class="tabbable">
                <ul class="nav nav-pills nav-stacked col-md-3 col-sm-4 col-xs-4">
                    <li><a href="#a" data-toggle="tab">Моя компания</a></li>
                    <li class="active"><a href="#b" data-toggle="tab">Смена пороля</a></li>
                    <li><a href="#c" data-toggle="tab">Рассылка</a></li>
                </ul>
                <div class="tab-content col-md-9  col-sm-8 col-xs-8">
                    <div class="tab-pane active" id="a">{{ lipsum(n=2, html=True, min=20, max=100) }}</div>
                    <div class="tab-pane" id="b">{{ lipsum(n=2, html=True, min=20, max=100) }}</div>
                    <div class="tab-pane" id="c">{{ lipsum(n=2, html=True, min=20, max=100) }}</div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class=""></div>
          <div class=""></div>

{% endblock %}




