{% extends '_base.html' %}

{% block style %}
    <link href="static/css/custom_index.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="static/img/brand.png">
          </a>
      </div>
      <div class="col-5 col-lg-offset-2 col-md-offset-3">
          <ul class="breadcrumb">
          <li>Участники в Новосибирске</li>
          <li><a href="sections.html">105 оптовых компаний</a></li>
          <li><a href="sections.html">25 производителей</a></li>
          </ul>
      </div>
    </div>


    <div class="row">

        <div class="page-header col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1 class="text-center">Вам позвонят лучшие поставщики Новосибирска</h1>
      </div>
      <div class="well col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-12">
        {% include "_buyer_form.html" %}
      </div>
        

        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-12">
           <div class="page-header col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-12">
              <h2 class="text-center">Свежие заявки</h2>
            </div>
            {% for count in range(4) %}
                {% set count = count %}
                {% include "_order.html" %}
            {% endfor %}
            <div class="col-xs-offset-2">
              <a id="orders-button" type="button" href="orders.html" class="btn btn-default btn-md">ПОСМОТРЕТЬ ВСЕ ЗАЯВКИ</a>
            </div>
        </div>

    <div class="col-lg-4 col-lg-offset-3 col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-1 col-xs-8">

        <div id="carousel-example-generic" data-interval="30000" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="active item">
          <div class="carousel-caption">
            <h3 class="text-left">Сергей, Барабинск</h3>
            <p>Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло. ! </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h3>Сергей, Барабинск</h3>
            <p>Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло.</p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h3>Сергей, Барабинск</h3>
            <p>Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло. Все супер! Бла-бла-бла мне помогло.  </p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>

      <div id="leave-reaction" class="col-lg-1 col-md-2 col-sm-3 col-xs-2">
      <!-- Button trigger modal -->
        <button  type="button" class="btn btn-lg btn-default" data-toggle="modal" data-target="#myModal">Оставить отзыв
          </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Оставить отзыв</h4>
            </div>
            <form>
              <div class="modal-body">
                <textarea type="text" class="form-control" id="reaction-text" rows="4"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Отправить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
  </div>

    {% include '_supplier_form.html' %}

{% endblock %}


